body{
    background-image: url(https://aulavirtual33.educa.madrid.org/ies.luisvives.leganes/pluginfile.php/66494/mod_forum/attachment/5712/blue.jpg?forcedownload=1);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}