body{
    background-image: url(https://aulavirtual33.educa.madrid.org/ies.luisvives.leganes/pluginfile.php/66494/mod_forum/attachment/5711/papel1.png?forcedownload=1);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}