li.disco{list-style-type: disc;}
li.circulo{list-style-type: circle;}
li.cuadrado{list-style-type:square;}
li.Dec{list-style-type:decimal;}
li.Dec0{list-style-type: decimal-leading-zero;;}
li.Romanmay{list-style-type: upper-roman;}
li.Romanmin{list-style-type: lower-roman;}
li.Alfmay{list-style-type: upper-alpha;}
li.Alfmin{list-style-type: lower-alpha;}