body {
    background-image: url(https://aulavirtual33.educa.madrid.org/ies.luisvives.leganes/pluginfile.php/66494/mod_forum/attachment/5710/gris.jpg?forcedownload=1);

    background-repeat: repeat-x;

    background-repeat: repeat-y;
  }